@import url(https://use.fontawesome.com/releases/v5.0.6/css/all.css);
@import url(https://fonts.googleapis.com/css?family=Oswald:400|Raleway:400,700,400italic,700italic);
/* Variables*/
* {
  margin: 0px;
  padding: 0px; }

nav.navbar.navbar-expand-lg.navbar-light {
  background: #85586F; }

#insta {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 200px; }

/*inicio estilo header*/
header {
  margin: 10px;
  width: auto;
  height: auto;
  padding: 10px;
  background-color: #F8ECD1; }

#titulo {
  font: 3em "Montserrat", sans-serif;
  color: black;
  text-align: center;
  justify-content: center; }

body {
  background: white;
  color: black;
  font-family: 'Montserrat', sans-serif; }

img.link-submenu {
  border-radius: 50%;
  width: 250px;
  height: 250px; }
  img.link-submenu:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d; }

.sub__titulos {
  text-align: center;
  font: 1.5em "Montserrat", sans-serif;
  color: black;
  display: block;
  padding-top: 5px; }

section#preguntas__frecuente {
  background-color: #F8ECD1; }

section#menu__recetas {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem; }

section#sec__pilar {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem; }
  section#sec__pilar h2 {
    margin: 10px; }
  section#sec__pilar img.cartoon {
    height: 300px; }

p.pilar2 {
  margin: 60px; }

section#sec__ejercicios {
  margin-top: 20px;
  padding: 10px;
  font-size: 1.2em; }

section#sec__contacto {
  margin-top: 20px;
  padding: 10px;
  font-size: 1.2em; }

body#ejercicios__fondo {
  background: white; }

section#descenso {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  padding: 10px;
  margin: 20px; }

section#externos {
  background-color: #F8ECD1;
  padding-bottom: 5px; }
  section#externos div.card-body {
    font-size: 0.5em; }

i#icon__submenu {
  color: white;
  font-size: 6rem;
  border-radius: solid black 1rem; }

p.texto {
  font-size: 2em;
  font-family: 'Montserrat', sans-serif; }

/*inicio estilo footer*/
footer {
  text-align: center;
  background: #85586F;
  font-size: 1em;
  padding: 20px;
  display: block; }

div.footer {
  display: inline-block; }

i#icon__footer.fa-solid.fa-map-location-dot {
  color: black;
  font-size: 4em;
  padding: 10px;
  margin: auto;
  display: block;
  text-align: center; }

iframe.mapa__icon {
  height: 300px;
  width: 300px; }

div.mapa {
  margin: 20px;
  text-align: center; }

div.mapa p {
  color: #222;
  font-size: 2em; }

h2.mapa-text {
  text-align: center;
  font-size: 2.2em;
  color: red; }

div.iframe {
  padding: auto;
  margin: 36px; }

ul.nav__seccion {
  list-style: square; }
  ul.nav__seccion li.nav__seccion {
    padding: 10px;
    display: block; }
    ul.nav__seccion li.nav__seccion a {
      font-size: 1em;
      color: red; }
      ul.nav__seccion li.nav__seccion a:hover {
        color: blueviolet; }

.wrap {
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center; }

button.submenu {
  min-width: 200px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: .9em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  color: white;
  background: #AC7D88;
  border: none;
  border-radius: 300px;
  box-shadow: 12px 12px 24px #DEB6AB;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px; }

.submenu::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(200px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #85586F;
  box-shadow: 0 0 60px #85586F;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s; }

button.submenu:hover, button.submenu:focus {
  color: white;
  transform: translateY(-6px); }

button:hover::before, button:focus::before {
  opacity: 1; }

button:hover::after, button:focus::after {
  animation: none;
  display: none; }

div.row {
  background-color: #ffffff10;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  margin: 10px; }
  div.row img.cartoon {
    height: 200px;
    width: 300px;
    margin-top: 60px; }
  div.row li {
    text-align: start;
    font-size: 1.5em; }
  div.row p {
    font-size: 1.5em; }

@media screen and (max-width: 767px) {
  body {
    background: white;
    color: black;
    margin: 10px; }
  img.cartoon {
    height: 200px;
    width: 300px; }
  #titulo {
    font-size: 2em;
    color: #1d0410;
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 20px; }
  body#ejercicios__fondo {
    background: white; }
  section#sec__ejercicios {
    margin-top: 20px;
    padding: 10px;
    font-size: 0.9em; }
  .image__ejercicios {
    height: 200px;
    width: 370px; }
  img.link-submenu {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: 50px; } }
