@import url(https://use.fontawesome.com/releases/v5.0.6/css/all.css);
@import url(https://fonts.googleapis.com/css?family=Oswald:400|Raleway:400,700,400italic,700italic);


* {
    margin: 0px;
    padding: 0px;
    
}

 /*inicio estilo header*/    
 header {
    margin: 0px;
    width: auto;
    height: auto;
    padding: 0px;
    background-color: rgba(255, 255, 255, .6);
}

#titulo {
    font-size: 2em;
    color: rgb(29, 4, 16);
    text-align: center;
    

}

body {
    background: white url(frutas.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    color: black;

}



div.col-md-6.col-xs-6.text-center {
    background-image: linear-gradient( 129.1deg,  rgba(243,199,83,0.6) 26.8%, rgba(18,235,207,0.6) 114.1% );
    border-radius: 50%;
}

.preguntas__titulo {
    text-align: center;
    color: red;
}

section#preguntas__frecuente {
    background-color: rgba(255, 255, 255, .6);
}

section#menu__recetas {
    background-color: rgba(255, 255, 255, .6);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

section#sec__pilar {
    background-color: rgba(255, 255, 255, .6);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    
}

section#sec__ejercicios {
    background-color: rgba(255, 255, 255, .6);
    margin-top: 20px;
    padding: 10px;
    font-size: 1.2em;
}

section#sec__contacto {
    background-color: rgba(255, 255, 255, .6);
    margin-top: 20px;
    padding: 10px;
    font-size: 1.2em;
}


body#ejercicios__fondo {
    background: white url(fondoejercicosescritorio.jpg) !important;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
section#descenso {
    background-color: rgba(255, 255, 255, .6);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    padding: 10px;
}

section#externos {
    background-color: rgba(255, 255, 255, .6);
}

i#icon__submenu {
    color: white;
    font-size: 6rem;
    border-radius: solid black 1rem;
}
p.texto {
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    
    
}



/*inicio estilo footer*/
   

footer.border {
    
    text-align: center;
    background-color: rgba(243,199,83,1);
    font-size: 1em;
    padding: 20px;
    display: block;
    
    
       
}

i#icon__footer.fa-solid.fa-map-location-dot {
    color: white;
    padding: 10px;
    margin: auto;
    display: block;
    background-color: rgba(108, 121, 133, .3);
    text-align: center;
}

iframe.mapa__icon {
height: 300px;
width: 300px;

}

div.mapa {
background-color: rgba(255, 255, 255, .6);
margin: 20px;
text-align: center;
}

div.mapa p {
color: #222;
font-size: 2em;
}

h2.mapa-text {
text-align: center;
font-size: 2.2em;
color: red;

}

div.iframe {
    padding: auto;
    margin: 36px;
}